site_name: FindMyJoint
site_description: |
  "A Python utility to discover and visualize potential join keys between DataFrames."
site_author: Rudra Prasad Bhuyan
repo_url: https://github.com/Rudra-G-23/Find-My-Joint
repo_name: Rudra-G-23/Find-My-Joint
edit_url: edit/main/docs/


copyright: Copyright &copy; 2025 Rudra Prasad Bhuyan. All rights reserved.

theme:
  name: material
  icon:
    annotation: material/star-four-points-circle
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    #- content.code.select
    #- content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    #- navigation.instant
    #- navigation.instant.prefetch
    - navigation.instant.progress
    #- navigation.prune
    - navigation.sections
    - navigation.tabs
    #- navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    #- toc.integrate
  palette:
    - scheme: default
      primary: '#5e17eb'   
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      primary: '#5e17eb'
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  #favicon: assets/favicon.png
  icon:
    logo: material/link-box

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Extra site-level data (footer, social)
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Rudra-G-23/Find-My-Joint
      name: Github
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@Rudra_love_with_data
      name: YouTube
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/rudra-prasad-bhuyan-44a388235/
      name: LinkedIn
    - icon: fontawesome/brands/kaggle
      link: https://www.kaggle.com/rudraprasadbhuyan
      name: Kaggle
    - icon: fontawesome/brands/pinterest
      link: https://in.pinterest.com/rudraprasadbhuyan23
      name: Pinterest


nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Play Ground: play-ground.md